<h1 style="margin-top: 0; font-size: 22px; color: #111111;">Application received</h1>
<p style="color: #333333; font-size: 15px; line-height: 1.6;">
  Hi <%= @first_name %>,
</p>
<p style="color: #333333; font-size: 15px; line-height: 1.6;">
  We received your maker application and our team is reviewing it now.
</p>
<p style="color: #333333; font-size: 15px; line-height: 1.6;">
  Thanks for applying to sell on Proven.
</p>
