/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/tmp/cache/*
!/tmp/cache/.keep
/storage/*
!/storage/.keep
/node_modules
.env
.DS_Store
coverage/
/vendor/bundle
/public/assets
/public/packs
/app/assets/builds/*
!/app/assets/builds/.keep
